{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Welcome to ExamReg</h1>
		<p class="lead">This application is built on the Python Flask</p>
		{% if session.logged_in == NULL %}
			<form action="/" method="POST">
				<div class="container">
    				<div class="row">
						<div class="col-md-4 col-md-offset-4">
    						<div class="panel panel-default">
			  					<div class="panel-heading">
			    					<h3 class="panel-title">Please sign in</h3>
			 					</div>
			  					<div class="panel-body">
			    					<form accept-charset="UTF-8" role="form">
                    				<fieldset>
			    	  					<div class="form-group">
			    		    				<input class="form-control" placeholder="Username" name="username" type="text">
			    						</div>
			    						<div class="form-group">
			    							<input class="form-control" placeholder="Password" name="password" type="password" value="">
			    						</div>
			    						<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
			    					</fieldset>
									</form>
			    				</div>
							</div>
						</div>
					</div>
				</div>
			</form>
    	{% endif %}
	</div>
{% endblock %}	